# vim
*.swp
*.swo

# IntelliJ
.idea/
*.ipr
*.iml
*.iws

# Build
vendor/
build/
dist/
target/
classes/
checkouts/
run/
.bundle
.direnv
.clj-kondo/.cache

# OS
.DS_Store

# Clojure
profiles.clj
.eastwood
pom.xml
pom.xml.asc
*.jar
*.class
lsp/
.nrepl-port

# Temporary
run/pids/
run/logs/
*.log
.tmp
.rakeTasks

# Leiningen
.lein-*/
.lein-repl-history
.lein-env
